{{define "title"}}People Calendar{{end}}
{{define "content"}}
  <div class="page-header">
    <h1>People Calendar</h1>
  </div>
  <ul class="breadcrumb">
    <li><a href="/person/list">People</a> <span class="divider">&raquo;</span></li>
    <li class="active">Calendar</li>
  </ul>
  <table class="table table-striped" style="width: 900px">
    <thead>
      <tr><th>Month</th><th>Day</th><th>Details</th><th>Event</th><th>Date</th></tr>
    </thead>
    <tbody>
      {{range .Months}}
      <tr><td colspan="5"><b>{{.Name}}</b></td></tr>
        {{range .Events}}
        <tr>
          <td></td>
          <td>{{.Day}}</td>
          <td>{{.Caption}}</td>
          <td>{{.Type}}</td>
          <td>{{.DateFormatted}}</td>
        </tr>
        {{end}}
      {{end}}
    </tbody>
  </table>
  <p><a href="/person/list" class="btn btn-primary">&laquo; People list</a></p>
{{end}}
