{{define "title"}}People List{{end}}
{{define "content"}}
  <div class="page-header">
    <div style="float: right;"><a href="/person/add" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add a Person</a></div>
    <h1>People List</h1>
  </div>
  <ul class="breadcrumb">
    <li class="active">People</li>
  </ul>
  <div id="showing"></div>
  <div style="height: 490px;">
    <table class="table table-striped" style="width: 900px">
      <thead>
        <tr>
          <th colspan="4">
            <form id="search_form" autocomplete="off" style="margin: 0;">
              <label for="prefix" style="display: inline">Search: </label>
              <input type="text" name="prefix" id="prefix" />
            </form>
          </th>
        </tr>
        <tr>
          <th style="width: 25px"></th>
          <th style="width: 50px">Id</th>
          <th style="width: 750px">Name</th>
          <th style="width: 100px">Gender</th>
        </tr>
      </thead>
      <tbody id="search_results">
      </tbody>
    </table>
  </div>
  <a href="#" class="btn btn-primary" id="previous_button"><i class="icon-chevron-left icon-white"></i> Previous</i></a>
  <a href="#" class="btn btn-primary" id="next_button">Next<i class="icon-chevron-right icon-white"></i></a>
  <script type="text/javascript">
  // Load the initial list of people
  var offset = 0;

  $(function() {
    $('#prefix').on('input paste', function() {
      searchChange();
      return true;
    });
    $('#search_form').submit(function() {
      searchChange();
      return false;
    });
    $('#next_button').click(function() {
      offset += 10;
      executeSearch(false);
      return false;
    });
    $('#previous_button').click(function() {
      if (offset == 0) {
        return false;
      }
      offset -= 10;
      if (offset < 0) {
        offset = 0;
      }
      executeSearch(false);
      return false;
    });

    // Do an initial search on page load
    executeSearch(true)
  });

  function searchChange() {
    offset = 0;
    executeSearch(false);
  }

  function toggleFavorite(row) {
    var personId = row.attr("person-id");
    var star = row.find('a.favorite i')
    if (star.hasClass('icon-star')) {
      $.post({
        url: '/favorite/delete?person_id=' + personId,
        success: function(data) {
          star.addClass('icon-star-empty').removeClass('icon-star');
        }});
    } else {
      $.post({
        url: '/favorite/add?person_id=' + personId,
        success: function(data) {
          star.addClass('icon-star').removeClass('icon-star-empty');
        }});
    }
  }

  function executeSearch(favoritesOnly) {
    var prefix = $('#prefix').val();
    var results = $('#search_results');
    var url = '/person/json/search';
    url += '?prefix=' + encodeURIComponent(prefix);
    url += '&offset=' + encodeURIComponent(offset);
    if (favoritesOnly) {
      url += '&favorites_only=1';
    }

    results.empty();
    $.get({
      url: url,
      dataType: 'json',
      success: function(data) {
        var html = '';
        $.each(data, function(index, person) {
          var starClass = person.IsFavorite ? 'icon-star' : 'icon-star-empty'
          html +=
            '<tr person-id="' + person.Id + '">'+
            '<td><a href="#" class="favorite"><i class="' + starClass + '"></i></a></td>'+
            '<td>' + person.Id + '</td>'+
            '<td><b><a href="/person/view/' + person.Id + '">' + person.Name + '</a></b></td>'+
            '<td>' + person.Gender + '</td>'+
            '</tr>';
        });
        results.append(html);
        results.find('a.favorite').click(function() {
          toggleFavorite($(this).parents('tr'));
          return false;
        });
        if (data == null) {
          $('#showing').html('No results');
        } else {
          $('#showing').html('Showing <b>' + (offset+1) + '-' + (offset + data.length) + '</b>');
        }
      },
    });
  }


  </script>
{{end}}
