{{define "title"}}{{.FullName}}{{end}}
{{define "content"}}
  <div class="page-header">
    <h1>{{.FullName}}</h1>
  </div>
  <ul class="breadcrumb">
    <li><a href="/person/list">People</a> <span class="divider">&raquo;</span></li>
    <li class="active">{{.FullName}}</li>
  </ul>
  <table class="table table-striped" style="width: 500px;">
    <tbody>
      <tr><td colspan="2"><strong>Name</strong></td></tr>
      <tr><td style="width: 100px;">First</td><td>{{.FirstName}}</td></tr>
      {{if .MiddleName}}
      <tr><td>Middle</td><td>{{.MiddleName}}</td></tr>
      {{end}}
      <tr><td>Last</td><td>{{.LastName}}</td></tr>
      {{if .NickName}}
      <tr><td>Nick</td><td>{{.NickName}}</td></tr>
      {{end}}
      <tr><td colspan="2"><strong>Birth</strong></td></tr>
      <tr><td>Gender</td><td>{{.Gender}}</td></tr>
      {{if .HasBirthDate}}
      <tr><td>Date</td><td>{{.BirthDateFormatted}} {{if .IsBirthYearGuess}}<span class="label label-important">Estimate</span>{{end}}</td></tr>
      {{end}}
      <tr>
        <td>Age</td>
        <td>
          {{if not .IsAlive}}<span class="label">Deceased</span>
          {{else if .HasBirthDate}}{{.Age}}
          {{else}}Unknown{{end}}
        </td>
      </tr>
      {{if .BirthCity}}
      <tr><td>City</td><td><a href="/city/view/{{.BirthCity.Id}}">{{.BirthCity.Format}}</a></td></tr>
      {{end}}
      {{if .HomeCity}}
      <tr><td colspan="2"><strong>Home</strong></td></tr>
      <tr><td>City</td><td><a href="/city/view/{{.HomeCity.Id}}">{{.HomeCity.Format}}</a></td></tr>
      {{end}}
      <tr><td colspan="2"><strong>Relationships</strong></td></tr>
      {{with .Mother}}
      <tr><td>Mother</td><td><a href="/person/view/{{.Id}}">{{.Name}}</a></td></tr>
      {{end}}
      {{with .Father}}
      <tr><td>Father</td><td><a href="/person/view/{{.Id}}">{{.Name}}</a></td></tr>
      {{end}}
      <tr><td colspan="2">Children</td></tr>
      {{range .Children}}
      <tr><td></td><td><a href="/person/view/{{.Id}}">{{.Name}}</a></td></tr>
      {{else}}
      <tr><td></td><td>No children</td></tr>
      {{end}}
      <tr><td colspan="2">Siblings</td></tr>
      {{range .Siblings}}
      <tr><td></td><td><a href="/person/view/{{.Id}}">{{.Name}}</a></td></tr>
      {{else}}
      <tr><td></td><td>No children</td></tr>
      {{end}}
      <tr><td>Spouses</td><td><a href="/spouse/add?person1_id={{.Id}}" class="btn btn-mini btn-primary"><i class="icon-plus icon-white"></i> Add Spouse</a></td></tr>
      {{range .Spouses}}
      <tr>
        <td></td>
        <td>
         <a href="/person/view/{{.Person2.Id}}">{{.Person2.Name}}</a> - {{.StatusFormatted}}
         <a href="/spouse/delete?person1_id={{.Person1.Id}}&amp;person2_id={{.Person2.Id}}"><i class="icon-remove"></i></a>
         {{if not .MarriedDate.IsZero}}
         <br/> {{.MarriedDate.Format "Jan 2, 2006"}}
         {{end}}
       </td>
      </tr>
      {{else}}
      <tr><td></td><td>No spouses</td></tr>
      {{end}}
      <tr><td colspan="2"><strong>Actions</strong></td></tr>
      <tr>
        <td></td>
        <td>
          <a href="/person/edit/{{.Id}}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</a>
          <a href="/person/delete/{{.Id}}" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
  <p><a href="/person/list" class="btn btn-primary">&laquo; People list</a></p>
{{end}}
