{{define "title"}}Region : Add{{end}}
{{define "content"}}
  <div class="page-header">
    <h1>Add a Region</h1>
  </div>
  <ul class="breadcrumb">
    <li><a href="/region/list">Regions</a> <span class="divider">&raquo;</span></li>
    <li class="active">Add Region</li>
  </ul>
  <form action="/region/add" method="post">
    <table class="table table-striped"  style="width: 300px;">
      <tbody>
        <tr><td>Name</td><td><input type="text" name="name" /></td></tr>
        <tr><td>Code</td><td><input type="text" name="code" class="input-small" /></td></tr>
        <tr><td>Country</td><td>
<select name="country_code">
{{range .Countries}}
  <option value="{{.Code}}" {{if eq .Code $.SelectedCountryCode}}selected="selected"{{end}}>{{.Name}}</option>
{{end}}
</select></td></tr>
        <tr><td></td><td>
          <input type="submit" value="Add" class="btn btn-primary" />
          <a href="/country/list" class="btn btn-danger">Cancel</a>
        </td></tr>
      </tbody>
    </table>
  </form>
{{end}}
