{{define "title"}}Country : Add{{end}}
{{define "content"}}
  <div class="page-header">
    <h1>Add a country</h1>
  </div>
  <ul class="breadcrumb">
    <li><a href="/country/list">Countries</a> <span class="divider">&raquo;</span></li>
    <li class="active">Add</li>
  </ul>
  <form action="/country/add" method="post">
    <input type="hidden" name="capital_city_id" />
    <table class="table table-striped" style="width: 400px;">
      <tbody>
        <tr>
          <td><label for="code">Code</label></td>
          <td><input type="text" name="code" class="input-small" /></td>
        </tr>
        <tr>
          <td><label for="name">Name</label></td>
          <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td><label for="continent_code">Continent</label></td>
            <td>
<select name="continent_code">
{{range $.Continents}}
<option value="{{.Code}}">{{.Name}}</option>
{{end}}
</select></td>
          </tr>
        <tr>
          <td><label for="capital_city_name">Capital City</label></td>
          <td><div class="input-append">
            <input type="text" name="capital_city_name" id="capital_city_name" autocomplete="new-password" />
            <span class="add-on"><i class="icon-home"></i></span>
          </div></td>
        </tr>
        <tr>
          <td><label for="gdp">GDP</label></td>
          <td><input type="text" name="gdp" /></td>
        </tr>
        <tr>
          <td><label for="population">Population</label></td>
          <td><input type="text" name="population" /></td>
        </tr>
        <tr>
          <td></td>
          <td><label class="checkbox"><input type="checkbox" name="has_region_icons" value="1" />Has region icons</label></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Add" class="btn btn-primary" />
            <a href="/country/list" class="btn btn-danger">Cancel</a>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <script type="text/javascript" src="/assets/js/typeahead.js"></script>
  <script type="text/javascript">
  $(function() {
    cityTypeAhead('capital_city_id', 'capital_city_name');
  });
  </script>
{{end}}
