{{define "title"}}Country : Edit {{.Name}}{{end}}
{{define "content"}}
  <div class="page-header">
    <h1>Edit {{.Name}}</h1>
  </div>
  <ul class="breadcrumb">
    <li><a href="/country/list">Countries</a> <span class="divider">&raquo;</span></li>
    <li><a href="/country/view/{{.Code}}">{{.Name}}</a> <span class="divider">&raquo;</span></li>
    <li class="active">Edit</li>
  </ul>
  <form action="/country/edit/{{.Code}}" method="post">
    <table class="table table-striped" style="width: 300px;">
      <tbody>
        <tr><td>Code</td><td><input type="text" name="code" value="{{.Code}}" class="input-small" /></td></tr>
        <tr><td>Name</td><td><input type="text" name="name" value="{{.Name}}" /></td></tr>
        <tr><td></td><td>
          <input type="submit" value="Save" class="btn btn-primary" />
          <a href="/country/view/{{.Code}}" class="btn btn-danger">Cancel</a>
        </td></tr>
      </tbody>
    </table>
  </form>
</body>
</html>
{{end}}