{{define "title"}}Country list{{end}}
{{define "content"}}
  <div class="page-header">
    <h1>Country list</h1>
  </div>
  <ul class="breadcrumb">
    <li class="active">Countries</li>
  </ul>
  <table class="table table-striped" style="width: 600px">
    <thead>
      <tr><th>Code</th><th>Name</th><th>Capital City</th><th>GDP</th><th>Population</th></tr>
    </thead>
    <tbody>
      {{range .}}
      <tr>
        <td>{{.Code}}</td>
        <td><a href="/country/view/{{.Code}}">{{.Name}}</a></td>
        {{if .CapitalCity}}
        <td><a href="/country/view/{{.CapitalCity.Id}}">{{.CapitalCity.Name}}, {{.CapitalCity.RegionAbbr}}</a></td>
        {{else}}
        <td>-</td>
        {{end}}
        <td style="text-align: right;">{{.Gdp}}</td>
        <td style="text-align: right;">{{.Population}}</td></tr>
      {{end}}
    </tbody>
  </table>
  <p><a href="/country/add" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add a Country</a></p>
{{end}}