{{define "title"}}Country list{{end}}
{{define "content"}}
  <div class="page-header">
    <h1>Country list</h1>
  </div>
  <ul class="breadcrumb">
    <li class="active">Countries</li>
  </ul>
  <table class="table table-striped" style="width: 300px">
    <thead>
      <tr><td>Code</td><td>Name</td></tr>
    </thead>
    <tbody>
      {{range .}}
      <tr>
        <td>{{.Code}}</td>
        <td><a href="/country/view/{{.Code}}">{{.Name}}</a></td></tr>
      {{end}}
    </tbody>
  </table>
  <p><a href="/country/add" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add a Country</a></p>
{{end}}