{{define "title"}}Country list{{end}}
{{define "content"}}
  <div class="page-header">
    <div style="float: right;"><a href="/country/add" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add a Country</a></div>
    <h1>Country list</h1>
  </div>
  <ul class="breadcrumb">
    <li class="active">Countries</li>
  </ul>
  <table class="table table-striped" style="width: 700px">
    <thead>
      <tr><th>Icon</th><th>Code</th><th>Name</th><th>Capital City</th><th>GDP</th><th>Population</th></tr>
    </thead>
    <tbody>
      {{range .}}
      <tr>
        <td style="padding: 0px; text-align: center;"><img src="/assets/img/flags/country/{{.Code}}.png" style="width: 32px; height: 32px;"/></td>
        <td>{{.Code}}</td>
        <td><a href="/country/view/{{.Code}}">{{.Name}}</a></td>
        {{if .CapitalCity}}
        <td><a href="/city/view/{{.CapitalCity.Id}}">{{.CapitalCity.Name}}, {{.CapitalCity.RegionAbbr}}</a></td>
        {{else}}
        <td>-</td>
        {{end}}
        <td style="text-align: right;">{{.GdpFormatted}}</td>
        <td style="text-align: right;">{{.PopulationFormatted}}</td></tr>
      {{end}}
    </tbody>
  </table>
{{end}}