{{define "title"}}Country : {{.Country.Name}}{{end}}
{{define "content"}}
  {{with .Country}}
  <div class="page-header">
    <h1>{{.Name}}</h1>
  </div>
  <ul class="breadcrumb">
    <li><a href="/country/list">Countries</a> <span class="divider">&raquo;</span></li>
    <li class="active">{{.Name}}</li>
  </ul>
  <table class="table table-striped" style="width: 300px;">
    <tbody>
      <tr><td>Icon</td><td style="padding-top: 0px; padding-bottom: 0px;"><img src="/assets/img/flags/country/{{.Code}}.png" style="width: 32px; height: 32px;" /></td></tr>
      <tr><td>Code</td><td>{{.Code}}</td></tr>
      <tr><td>Name</td><td>{{.Name}}</td></tr>
      <tr><td>Continent</td><td><a href="/continent/view/{{.Continent.Code}}">{{.Continent.Name}}</a></td></tr>
      <tr><td>Gdp</td><td>{{.GdpFormatted}}</td></tr>
      <tr><td>Population</td><td>{{.PopulationFormatted}}</td></tr>
      {{if .CapitalCity}}
      <tr><td>Capital City</td><td><a href="/city/view/{{.CapitalCity.Id}}">{{.CapitalCity.Name}}, {{.CapitalCity.RegionAbbr}}</a></td></tr>
      {{end}}
      <tr><td>Actions</td><td>
        <a href="/country/edit/{{.Code}}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</a>
        <a href="/country/delete/{{.Code}}" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete</a>
      </td></tr>
    </tbody>
  </table>
  {{end}}
  <h2>Regions</h2>
  <table class="table table-striped" style="width:400px;">
    <thead>
      <tr>
        {{if $.Country.HasRegionIcons}}
        <th style="width: 32px;">Icon</th>
        {{end}}
        <th>Name</th>
        <th>Code</th></tr>
    </thead>
    <tbody>
      {{range .Regions}}
      <tr>
        {{if $.Country.HasRegionIcons}}
        <td style="padding-top: 0px; padding-bottom: 0px;"><img src="/assets/img/flags/state/{{.CountryCode}}/{{.Code}}.png" style="width: 32px; height: 32px;" /></td>
        {{end}}
        <td><a href="/region/view/{{.Id}}">{{.Name}}</a></td>
        <td>{{.Code}}</td>
      </tr>
      {{end}}
    </tbody>
    <tfoot>
      <tr><td colspan="3"><a href="/region/add?country_code={{.Country.Code}}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add a Region</a></td></tr>
    </tfoot>
  </table>
{{end}}
