{{define "title"}}Country : {{.Country.Name}}{{end}}
{{define "content"}}
  {{with .Country}}
  <div class="page-header">
    <h1>{{.Name}}</h1>
  </div>
  <ul class="breadcrumb">
    <li><a href="/country/list">Countries</a> <span class="divider">&raquo;</span></li>
    <li class="active">{{.Name}}</li>
  </ul>
  <table class="table table-striped" style="width: 300px;">
    <tbody>
      <tr><td>Code</td><td>{{.Code}}</td></tr>
      <tr><td>Name</td><td>{{.Name}}</td></tr>
      {{if $.CapitalCity}}
      <tr><td>Capital City</td><td><a href="/city/view/{{$.CapitalCity.Id}}">{{$.CapitalCity.Name}}, {{$.CapitalCity.RegionAbbr}}</a></td></tr>
      {{end}}
      <tr><td>Actions</td><td>
        <a href="/country/edit/{{.Code}}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</a>
        <a href="/country/delete/{{.Code}}" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete</a>
      </td></tr>
    </tbody>
  </table>
  {{end}}
  <h2>Regions</h2>
  <table class="table table-striped" style="width:300px;">
    <thead>
      <tr><th>Name</th><th>Code</th></tr>
    </thead>
    <tbody>
      {{range .Regions}}
      <tr>
        <td><a href="/region/view/{{.Id}}">{{.Name}}</a></td>
        <td>{{.Code}}</td>
      </tr>
      {{end}}
    </tbody>
    <tfoot>
      <tr><td><a href="/region/add?country_code={{.Country.Code}}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add a Region</a></td></tr>
    </tfoot>
  </table>
{{end}}
