{{define "title"}}City : Add{{end}}
{{define "content"}}
  <div class="page-header">
    <h1>Add a City</h1>
  </div>
  <ul class="breadcrumb">
    <li><a href="#">Cities</a> <span class="divider">&raquo;</span></li>
    <li class="active">Add</li>
  </ul>
  <form action="/city/add" method="post">
    <table class="table table-striped"  style="width: 300px;">
      <tbody>
        <tr><td>Name</td><td><input type="text" name="name" /></td></tr>
        <tr><td>Region</td><td><input type="text" name="region_id" /></td></tr>
        <tr><td></td><td>
          <input type="submit" value="Add" class="btn btn-primary" />
          <a href="/city/list" class="btn btn-danger">Cancel</a>
        </td></tr>
      </tbody>
    </table>
  </form>
{{end}}
