{{define "title"}}City : {{.City.Name}}{{end}}
{{define "content"}}
  {{with .City}}
  <div class="page-header">
    <h1>{{.Name}}</h1>
  </div>
  <ul class="breadcrumb">
    <li><a href="/country/list">Countries</a> <span class="divider">&raquo;</span></li>
    <li><a href="/country/view/{{$.Region.CountryCode}}">{{$.Region.CountryName}}</a> <span class="divider">&raquo;</span></li>
    <li><a href="/region/view/{{$.Region.Id}}">{{$.Region.Name}}</a> <span class="divider">&raquo;</span></li>
    <li class="active">{{.Name}}</li>
  </ul>
  {{if .Latitude}}
  <img style="width: 500px; height: 300px; float: right;" src="{{.MapUrl}}" />
  {{end}}
  <h2>City Details</h2>
  <table class="table table-striped" style="width: 300px;">
    <tbody>
      <tr><td>Id</td><td>{{.Id}}</td></tr>
      <tr><td>Name</td><td>{{.Name}}</td></tr>
      {{if .HasLocation}}
      <tr><td>Location</td><td>{{.FormatLocation}}</td></tr>
      {{end}}
      <tr><td>Region</td><td><a href="/region/view/{{$.Region.Id}}">{{$.Region.Name}}</a></td></tr>
      <tr><td>Country</td><td><a href="/country/view/{{$.Region.CountryCode}}">{{$.Region.CountryName}}</a></td></tr>
      <tr><td>Actions</td><td>
        <a href="/city/edit/{{.Id}}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</a>
        <a href="/city/delete/{{.Id}}" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete</a>
      </td></tr>
    </tbody>
  </table>
  {{end}}
  <h2 style="clear: left;">People</h2>
  <table class="table table-striped" style="width:300px;">
    <thead>
      <tr><th>Name</th></tr>
    </thead>
    <tbody>
      {{range .People}}
      <tr>
        <td><a href="/person/view/{{.Id}}">{{.Name}}</a></td></tr>
      </tr>
      {{end}}
    </tbody>
  </table>
  <p><a href="/country/list" class="btn btn-primary">&laquo; Country list</a></p>
{{end}}
