<!DOCTYPE html>
<html>
<head>
  <title>{{template "title" .}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-responsive.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar navbar-inverse"><div class="navbar-inner" style="border-radius: 0;"><div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
    <a class="brand">Family</a>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li><a href="/continent/list"><i class="icon-white icon-globe"></i> Continents</a></li>
        <li><a href="/country/list"><i class="icon-white icon-globe"></i> Countries</a></li>
        <li><a href="/region/list"><i class="icon-white icon-globe"></i> Regions</a></li>
        <li><a href="/city/list"><i class="icon-white icon-home"></i> Cities</a></li>
        <li><a href="/person/list"><i class="icon-white icon-user"></i> People</a></li>
        <li><a href="/person/calendar"><i class="icon-white icon-calendar"></i> Calendar</a></li>
        <li><a href="/tag/list"><i class="icon-white icon-tags"></i> Tags</a></li>
      </ul>
    </div>
  </div></div></div>
  <div class="container">
  {{template "content" .}}
  </div>
</body>
</html>
